@use './base/' as *;
@use './abstract/' as *;

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-consultation {
  text-decoration: none;
  color: $light-cream;
  font-weight: 700;

  background-color: $black;
  padding: rem(23) rem(45);
  border-radius: rem(45);
  transition: 0.2s;

  &:hover {
    background-color: $purple;
  }
}

.book-call__button {
  background-color: $dark-pink;

  &:hover {
    background-color: $orange;
  }
}

.hero {
  padding-block-start: rem(32);

  &__title {
    color: $black;
    text-align: center;
    font-size: rem(36);
    width: rem(300);
    line-height: rem(40);
    margin: 0 auto;
    padding-block-end: rem(16);
  }

  &__description {
    text-align: center;
    font-size: rem(16);
    line-height: rem(26);
    font-weight: 500;
  }
}

@media screen and (min-width: rem(700)) {
  .hero {
    &__title {
      width: 100%;
      padding-block-end: rem(27);
      font-size: rem(44);
    }
    &__description {
      font-size: rem(18);
      line-height: rem(28);
    }
  }
}

@media screen and (min-width: rem(1024)) {
  .hero {
    &__title {
      font-size: rem(56);
      padding-block-end: rem(23);
    }
  }
}
