@use '../abstract/' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: rem(18);
  line-height: rem(28);
  background-color: $light-cream;
  color: $grey;
  padding: rem(16);

  @media screen and (min-width: rem(700)) {
    padding-block: rem(35);
    padding-inline: rem(39.17);
  }

  @media screen and (min-width: rem(1024)) {
    padding-inline: rem(165);
  }
}

img {
  width: 100%;
}
